:host {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    .clear-filters {
        display: none;
    }

    h1 {
        text-align: center;
    }

    @media (max-width: 767px) {
        padding: 120px 20px 0 20px;
        box-sizing: border-box;

        .search {
            flex-direction: column;
        }
        
        .buttons {
            margin-top: 17px;
            height: 58px;
            justify-content: space-between;
        }

        .filters {
            flex-direction: column;
            max-width: 231px;

            & > * {
                margin-bottom: 20px;
            }
        }

        .clear-filters {
            display: flex;
            align-self: flex-end;
            color: var(--pink);
            
            img {
                margin-right: 8px;
            }
        }
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        padding: 120px 20px 0 20px;
    }

    .buttons {
        display: flex;
    }

    .search {
        display: flex;
        width: 100%;
        margin-top: 50px;

        @media (min-width: 768px) {
            ont-button[color="gray"] {
                margin: 0 18px;
            }
        }

        ont-button[color="gray"] {
            min-width: 111px;
        }

        ont-button[color="default"] {
            min-width: 192px;
        }
    }
    
    .filters {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: 30px;

        .contractor {
            padding: 12px;
            box-sizing: border-box;
            border: none;
            outline: none;
            border-radius: 5px;
            box-shadow: var(--shadow-small);
            flex-grow: .5;
        }

        .contract, .status {
            flex-grow: .15;
        }
    }

    .cards {
        width: 100%;

        .card {
            box-shadow: var(--shadow-small);
            padding: 10px 15px;
            box-sizing: border-box;
            margin-bottom: 21px;
            border-radius: 5px;
            background-color: white;

            label, .detail {
                width: 50%;
            }

            .card-detail {
                padding: 9px 20px;
                box-sizing: border-box;
                display: flex;

                &:nth-child(odd) {
                    background-color: var(--gray-100);
                }
            }
        }
    }

    .results {
        @media (min-width: 767px) {
            box-shadow: var(--shadow-small);
            border-radius: 5px;
            background-color: white;
            width: 100%;
            padding: 36px 30px 30px 12px;
            box-sizing: border-box;
        }

        .header {
            justify-content: space-between;
            padding: 0 25px;
            box-sizing: border-box;

            .actions {
                cursor: auto;
            }
        }

        .row {
            background-color: var(--gray-100);
            padding: 25px;
            box-sizing: border-box;
            margin-top: 25px;
            font-size: 14px;
            align-items: center;

            .contractor-name {
                text-align: left;
            }
        }

        .header {
            font-weight: 500;
            font-size: 16px;
        }
        
        .contractor-name {
            width: 25%;
            text-align: center;

            .profile-pic {
                width: 41px;
                height: 41px;
                min-width: 41px;
                min-height: 41px;
                border-radius: 50%;
                margin-right: 15px;
            }
        }
        
        .type, .start-date, .amount, .actions {
            text-align: center;
            width: 15%;
        }

        .status {
            width: 20%;
        }
    }

    .status {
        position: relative;

        &.active, &.pending {
            padding: 5px 10px;
            font-size: 10px;
            border-radius: 20px;
            max-height: 20px;

            span {
                display: list-item;
                list-style: disc;
                margin-left: 12px;
            }
        }

        &.active {
            background-color: var(--green-200);
            color: var(--green-400);
        }

        &.pending {
            background-color: var(--orange-200);
            color: var(--orange-400);
        }
    }

    .actions {
        position: relative;
        cursor: pointer;
    }

    .floating-button {
        align-self: flex-end;
        position: fixed;
        right: 20px;
        bottom: 20px;

        @media (min-width: 767px) and (max-width: 1439px) {
            margin-top: 20px;
        }

        @media (min-width: 1440px) {
        }

        ont-button {
            width: 80px;
            height: 80px;
        }
    }
}