<h1 class="header-1" *ngIf="user$ | async as user">Contracts for {{user.companyName}}</h1>

<div class="search">
    <ont-search-bar (onSearch)="onSearch($event)"></ont-search-bar>
    <div class="buttons flex">
        <ont-button icon="../../assets/images/filter.svg" label="Filter" color="gray"></ont-button>
        <ont-button icon="../../assets/images/add.svg" label="New hire"></ont-button>
    </div>
</div>
<div class="filters" #filters>
    <ont-dropdown 
        icon="../../assets/images/calendar.svg"
        placeholder="Create on: Jan/10/21 - Jan/28/21">
    </ont-dropdown>
    <ont-dropdown
        class="contract"
        placeholder="Contract type">
    </ont-dropdown>
    <input type="text" 
        class="contractor"
        placeholder="Contractor Name">
    <ont-dropdown 
        class="status"
        placeholder="Status">
    </ont-dropdown>

    <div class="clear-filters">
        <img src="../../assets/images/clear.svg" alt="">
        Clear filters
    </div>
</div>
<div class="results" #results *ngIf="!isMobile; else mobileResults">
    <div class="header flex">
        <div class="contractor-name">Contractor name</div>
        <div class="type">Type</div>
        <div class="start-date">Start date</div>
        <div class="amount">Amount</div>
        <div class="status">Status</div>
        <div class="actions">Actions</div>
    </div>
    <div class="rows flex flex-col">
        <div class="row flex" *ngFor="let result of filteredResults$ | async">
            <div class="contractor-name flex align-center">
                <img [src]="result.profilePic" class="profile-pic" alt="Profile picture of {{result.name}}" *ngIf="result.profilePic">
                {{result.name}}
            </div>
            <div class="type flex align-center justify-center">{{result.contractType}}</div>
            <div class="start-date flex align-center justify-center">{{result.startDate}}</div>
            <div class="amount flex align-center justify-center">{{result.amount | currency}} USD</div>
            <div class="status {{result.status}} flex align-center">{{result.status}}</div>
            <div class="actions flex align-center justify-center"></div>
        </div>
    </div>
</div>

<ng-template #mobileResults>
    <div class="cards flex flex-col">
        <div class="card" *ngFor="let result of filteredResults$ | async">
            <div class="card-detail">
                <label>Contractor name</label>
                <div class="detail">{{result.name}}</div>
            </div>
            <div class="card-detail">
                <label>Type</label>
                <div class="detail">{{result.contractType}}</div>
            </div>
            <div class="card-detail">
                <label>Start date</label>
                <div class="detail">{{result.startDate}}</div>
            </div>
            <div class="card-detail">
                <label>Amount</label>
                <div class="detail">{{result.amount | currency}} USD</div>
            </div>
            <div class="card-detail">
                <label>Status</label>
                <div class="detail {{result.status}}">{{result.status}}</div>
            </div>
            <div class="card-detail">
                <label>Actions</label>
                <div class="detail"></div>
            </div>
        </div>
    </div>
</ng-template>