:host {
    display: flex;
    box-sizing: border-box;
    border-radius: 5px;
    border: .5px solid var(--gray-500);
    background-color: white;
    width: 100%;

    .search {
        width: 100%;
        flex-grow: 1;
        display: flex;

        .search-icon {
            margin: 17px 23px;
        }

        input {
            flex-grow: 1;
            padding: 17px 25px 17px 0px;
            border: none;
            outline: none;
            font-size: 16px;
            border-radius: 5px;
        }
    }
}